@page "/"
<style>
    .title {
        font-family: Tahoma;
        font-size: 34px;
        color: darkgray;
        font-weight: 500;
    }

    .subtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: #888;
    }

    .author {
        font-family: 'Times New Roman';
        color: goldenrod;
        font-style: italic;
    }

    .center-content {
        display: flex;
        justify-content: center;
        text-align:center;
    }
</style>

<PageTitle>Navive Drawing</PageTitle>

<div class="center-content">
    <div style="width:80%">
        <p class="title">Native SkiaSharp in Blazor</p>
        <hr />
        <img src="images/SkiaSharp.png" />
        <hr />
        <p class="subtitle">A succinct demonstration of using SkiaSharp in Blazor WebAssembly</p>
        <br />
        <p class="author">Samples By: Luis Harvey Triana Vega</p>
    </div>
</div>
