@page "/ScrollCanvasPage"
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@using System.Text
@inject TypeFaceService _typeFace;

<style>
    .wrapper {
        width: 500px;
        overflow-x: scroll;
        white-space: nowrap;
        border: 1px solid rgb(220,220,220);
    }
</style>

<h3>Scroll Canvas Page</h3>
<hr />
<div class="wrapper">
    <SKCanvasView OnPaintSurface="OnPaintSurface"
                  @onmousemove="OnMouseMove"
                  IgnorePixelScaling=true
                  style="@Style" />
</div>
<br />
<pre>@echo</pre>

@code {
    string echo = "X: 0 Y: 0";

    string Style => $"width:1000px;height:200px;";

    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        var canvas = e.Surface.Canvas;

        canvas.Clear();

        using SKPaint paint = new()
            {
                Style = SKPaintStyle.Fill,
                IsAntialias = true,
            };
        var font = new SKFont(_typeFace.GetTTF("Arial"), 12);

        canvas.DrawText(IpsumLorem.GenerateParagraph(20), 15, 15, font, paint);
        canvas.DrawText(IpsumLorem.GenerateParagraph(25), 15, 45, font, paint);
        canvas.DrawText(IpsumLorem.GenerateParagraph(15), 15, 75, font, paint);
    }

    void OnMouseMove(MouseEventArgs e)
    {
        echo = $"X: {e.OffsetX} Y: {e.OffsetY}";
    }
}
