@page "/TypefacePage"
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@inject TypeFaceService _typeFace;

<h3>Type Face Service</h3>
<p>
    You can handle TT fonts in drawings with Skia. Here I show a correct and effective way to do it.
</p>
<hr />
<ul>
    <li>Arial</li>
    <li>Consolas</li>
    <li>Freescpt</li>
    <li>Old London</li>
    <li>Times New Roman</li>
</ul>
<hr />
<SKCanvasView OnPaintSurface="OnPaintSurface" 
              IgnorePixelScaling=true
              style="width:100%;height:400px;" />

@code {
    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        var canvas = e.Surface.Canvas;

        using SKPaint paint = new() {
                Style = SKPaintStyle.Fill,
                TextSize = 24,
                IsAntialias = true,
            };

        string text = "Invisible things are the only realities";
        float y = 0, x = 0, h = 40;

        paint.Typeface = _typeFace.GetTTF("Arial");
        canvas.DrawText(text, x, y += h, paint);

        paint.Typeface = _typeFace.GetTTF("Consola");
        canvas.DrawText(text, x, y += h, paint);

        paint.Typeface = _typeFace.GetTTF("Freescpt");
        canvas.DrawText(text, x, y += h, paint);

        paint.Typeface = _typeFace.GetTTF("OldLondon");
        canvas.DrawText(text, x, y += h, paint);

        paint.Typeface = _typeFace.GetTTF("Times");
        canvas.DrawText(text, x, y += h, paint);
    }
}